.slideshow-module {
    position: relative;
}

#slideshow {
    position: absolute;
    inset: 0;
}

.slideshow-image {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;

    opacity: 0;
    transition: opacity 1.6s ease-in-out;
}

.slideshow-image.active {
    opacity: 1;
}

.slideshow-empty {
    font-size: var(--size-small);
    color: var(--text-dim);
}
